[mysqld]
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0

# 以下は後でやる
# innodb_flush_log_at_trx_commit = 2 # REDOログのフラッシュ感覚を伸ばす
# disable-log-bin = 1 # binlogの無効化
